.plus-button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 6px;
  background: #25282c;
  cursor: pointer;
  margin-left: 1300px;
  margin-top: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.plus-icon::before,
.plus-icon::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 2px;
}

.plus-icon::before {
  width: 24px;
  height: 2px;
  top: 11px;
  left: 0;
}

.plus-icon::after {
  width: 2px;
  height: 24px;
  top: 0;
  left: 11px;
}

.my-modal select {

    width: 100%;

    padding: 15px;

    border: 1px solid #d1d5db;

    border-radius: 12px;

    font-size: 16px;

    outline: none;

    transition: .25s;

    background: white;

    color: #111827;
}